com/ClientCommonSW/xml-resources/web-service-references/ProjetWS/wsdl/localhost_8080/CommonService/ProjetWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com/" name="ProjetWS">
<types>
<xsd:schema>
<xsd:import namespace="http://com/" schemaLocation="http://localhost:8080/CommonService/ProjetWS?xsd=1"/>
</xsd:schema>
</types>
<message name="DecompositionNP">
<part name="parameters" element="tns:DecompositionNP"/>
</message>
<message name="DecompositionNPResponse">
<part name="parameters" element="tns:DecompositionNPResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="CalculPGCD">
<part name="parameters" element="tns:CalculPGCD"/>
</message>
<message name="CalculPGCDResponse">
<part name="parameters" element="tns:CalculPGCDResponse"/>
</message>
<message name="Factoriel">
<part name="parameters" element="tns:Factoriel"/>
</message>
<message name="FactorielResponse">
<part name="parameters" element="tns:FactorielResponse"/>
</message>
<portType name="ProjetWS">
<operation name="DecompositionNP">
<input wsam:Action="http://com/ProjetWS/DecompositionNPRequest" message="tns:DecompositionNP"/>
<output wsam:Action="http://com/ProjetWS/DecompositionNPResponse" message="tns:DecompositionNPResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://com/ProjetWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://com/ProjetWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="CalculPGCD">
<input wsam:Action="http://com/ProjetWS/CalculPGCDRequest" message="tns:CalculPGCD"/>
<output wsam:Action="http://com/ProjetWS/CalculPGCDResponse" message="tns:CalculPGCDResponse"/>
</operation>
<operation name="Factoriel">
<input wsam:Action="http://com/ProjetWS/FactorielRequest" message="tns:Factoriel"/>
<output wsam:Action="http://com/ProjetWS/FactorielResponse" message="tns:FactorielResponse"/>
</operation>
</portType>
<binding name="ProjetWSPortBinding" type="tns:ProjetWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="DecompositionNP">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CalculPGCD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Factoriel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProjetWS">
<port name="ProjetWSPort" binding="tns:ProjetWSPortBinding">
<soap:address location="http://localhost:8080/CommonService/ProjetWS"/>
</port>
</service>
</definitions>