com/ClientCommonSW/src/META-INF/wsdl/localhost_8080/CommonService/ProjetWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://com/">

<xs:element name="CalculPGCD" type="tns:CalculPGCD"/>

<xs:element name="CalculPGCDResponse" type="tns:CalculPGCDResponse"/>

<xs:element name="DecompositionNP" type="tns:DecompositionNP"/>

<xs:element name="DecompositionNPResponse" type="tns:DecompositionNPResponse"/>

<xs:element name="Factoriel" type="tns:Factoriel"/>

<xs:element name="FactorielResponse" type="tns:FactorielResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:complexType name="Factoriel">
<xs:sequence>
<xs:element name="entier" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FactorielResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DecompositionNP">
<xs:sequence>
<xs:element name="entier" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DecompositionNPResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalculPGCD">
<xs:sequence>
<xs:element name="entierA" type="xs:int"/>
<xs:element name="entierB" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CalculPGCDResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>